.hideContent {
  display: none;
}
.showContent {
  display:block;
}
.bodyStyle {
  height: 100%;
  background-color: darkmagenta;
}
.musicButtons {
  background-image: linear-gradient(to bottom right, slategray, mintcream, slategray);
  color: darkmagenta;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.topBanner {
  width: 100%;
  min-height: 100px;
  max-height: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: darkmagenta;
}
#topBannerIcons {
  color: mintcream;
  font-size: 50px;
}
#topBannerText {
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  color: mintcream;
  text-shadow: 3px 3px slategray;
}
.topNavigation {
  width: 100%;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  align-self: center;
}
.topNavigationButtons {
  width: 18%;
  height: 68px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: darkmagenta;
  display: flex;
  border-color: maroon;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 1%;
  background-image: linear-gradient(to bottom right, slategray, mintcream, slategray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#topNavigationIcons {
  color: black;
}
#topNavigationText {
  font-family: monospace;
  font-weight: bold;
  padding-top: 5px;
  color: black;
}
.singleBlock {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: mintcream;
  border-radius: 5px;
}
#bottomText {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  text-align: center;
  padding-bottom: 25px;
}
#rundown {
  color: mintcream;
  font-family: verdana;
  font-size: 15px;
}
#subtext {
  color: black;
  font-family: verdana;
  font-size: 14px;
}
h1 {
  font-size: 36px;
  font-family: verdana;
  color: black;
}
p {
  font-size: 30px;
  line-height: 45px;
  font-family: verdana;
  color: black;
}
a {
  text-decoration: none;
}
h5 {
  font-size: 18px;
  font-family: verdana;
  color: black;
}
.HiraginoW9 {
    font-family: 'HiraginoSans-W9';
}
